@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
    var page = CurrentPage;
    string HostUrl = HttpContext.Current.Request.Url.AbsoluteUri.ToString();
    string Home = string.Format("{0}://{1}", Request.Url.Scheme, Request.Url.Authority);
    var SettingsNode = @Umbraco.Content(1129);
    var Settings = new SiteSettings(SettingsNode);
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>@page.metaTitle</title>

    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="@page.metaDescription" name="description">
    <meta property="og:title" content="@page.MetaOgTitle" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="@HostUrl" />
    @if (Model.Content.HasValue("mediaOgImage"))
    {
        IPublishedContent Image = @page.MediaOgImage;
        string ImageCrop = Image.GetCropUrl("MetaOg");
        <meta property="og:image" content="@Home@ImageCrop" />
    }

    <!-- Google Tag Manager -->
    @*<script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-KX7GC3C');</script>*@
    <!-- End Google Tag Manager -->
    <meta content="http://www.boomerangcreative.agency" name="author">

    <link rel="apple-touch-icon" sizes="57x57" href="/images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/images/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/images/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="https://use.typekit.net/jkf0tsv.css">
    <link rel="stylesheet" href="/Styles/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="/Styles/style.min.css">

    @RenderSection("HeadScripts", false)

</head>
<body>
	<!-- Google Tag Manager (noscript) -->
	<noscript>
		<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KX7GC3C"
				height="0" width="0" style="display:none;visibility:hidden"></iframe>
	</noscript>
	<!-- End Google Tag Manager (noscript) -->
    <div class="header-no-nav d-flex justify-content-center align-items-center">
        <img id="logo" class="logo" alt="Logo" src="@Settings.CompanyLogo.Url" width="350">
    </div>
	@RenderBody()
	@Html.Partial("Footer")

	@Html.Partial("CookiePop")

	<script src="~/Scripts/vendor/jquery.min.js"></script>
	<script src="~/Scripts/vendor/bootstrap.min.js"></script>
	<script src="~/Scripts/vendor/popper.min.js"></script>
	<script src="~/Scripts/vendor/jquery.matchHeight.min.js"></script>
	<script src="~/Scripts/cc-1.0.min.js"></script>
	<script src="~/Scripts/custom.min.js"></script>

	@RenderSection("Scripts", false)
</body>
</html>